Cargamos los archivos que formaran nuestra base de datos

In [1]:
import pandas as pd
import pyarrow

In [9]:
archivo_parquet = r"./Datasets/producto copy.parquet"

In [10]:
producto_df = pd.read_parquet(archivo_parquet)

In [11]:
producto_df

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
0,0000000001663,LA ANÓNIMA,Radicheta Atada La Anonima 1 Un,1.0 un,None,None,None
1,0000000002288,LA ANÓNIMA,Perejil Atado La Anonima 1 Un,1.0 un,None,None,None
2,0000000205870,SIN MARCA,Ojo de Bife 1 Kg,1.0 kg,None,None,None
3,0000000205894,SIN MARCA,Milanesa de Peceto Novillito 1 Kg,1.0 kg,None,None,None
4,0000000205955,SIN MARCA,Chiquizuela Novillito 1 Kg,1.0 kg,None,None,None
...,...,...,...,...,...,...,...
72033,9569753142128,DELI-SITAS,Milhojas Cobertura de Chocolate Blanco Deli-Si...,500.0 gr,None,None,None
72034,9795403001143,MAYO,Mini Pizzetas Mayo 12 Un,12.0 un,None,None,None
72035,9990385651922,DANA,Te Negro en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None
72036,9990385651939,DANA,Te Verde en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None
72037,9990385651946,DANA,Yerba Mate Aromatizada Lata Dana 150 Gr,150.0 gr,None,None,None

In [12]:
producto_df.shape

(72038, 7)

In [13]:
#eliminamos duplicados
producto_df.drop_duplicates(inplace=True)

In [14]:
#vemos si quedaron duplicados
producto_df[producto_df.duplicated()]

Empty DataFrame
Columns: [id, marca, nombre, presentacion, categoria1, categoria2, categoria3]
Index: []

In [15]:
#analizamos los faltantes, vemos 72034 faltantes de 72038 filas en total en las categorías
producto_df.isna().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [16]:
#eliminamos las categorías
producto_df.drop(columns=["categoria1" , "categoria2", "categoria3"],axis=1, inplace=True)

In [17]:
#definimos una funcion que nos ayude a sacar el guion y quedarnos con la parte importante del id
def sacaguion(valor):
    if type(valor) != "str" :
        valor = str(valor)
    if (valor.find("-") != -1):
        return valor.split("-")[2]
    return valor

#la aplicamos
producto_df["id"] = producto_df["id"].apply(sacaguion)

In [18]:
producto_df.columns

Index(['id', 'marca', 'nombre', 'presentacion'], dtype='object')

In [19]:
#cambiamos el nombre de la columna "id"
producto_df.rename(columns={'id':"producto_id"}, inplace=True)

In [20]:
#ahora sin guion podemos hacer que sea tipo de dato entero
producto_df["producto_id"] = producto_df["producto_id"].astype('int64')

In [21]:
producto_df.dtypes

producto_id      int64
marca           object
nombre          object
presentacion    object
dtype: object

In [22]:
#eliminamos nuevamente duplicados en el caso de que haya productos duplicados y uno de sus ids tenia guion
producto_df.drop_duplicates(inplace=True)

In [23]:
#vemos los id de productor que están duplicados
(producto_df["producto_id"][producto_df["producto_id"].duplicated()])

3483     2301594000000
3493     2301612000005
3496     2301627000007
3564     2302020000007
3587     2302055000003
             ...
71739           746007
71747           829960
71787           914796
71804           927642
71811           941655
Name: producto_id, Length: 255, dtype: int64

In [24]:
#los id que tienen menos de 13 dígitos le agregamos ceros adelante 
def llevar_13(valor):
    if type(valor) != "str" :
        valor = str(valor)
    while len(valor)<13:
        valor = "0" + valor
    return valor

In [25]:
#aplicamos función
producto_df["producto_id"]=producto_df["producto_id"].apply(llevar_13)

In [26]:
#chequeamos si hay algún duplicado nuevamente
producto_df[producto_df.duplicated()]

Empty DataFrame
Columns: [producto_id, marca, nombre, presentacion]
Index: []

Realizamos la carga al servidor local de MySQL que alojará la base de datos

In [27]:
import pymysql
from sqlalchemy import create_engine
import mysql.connector as connection
# echo=False ==> nos permitirá adentro de la conexión hacer que no imprima en terminal lo que trae
cadena_conexion = 'mysql+pymysql://root:SQL17Agosto1994@localhost:3306/P1_v1'
conexion = create_engine(cadena_conexion)

In [28]:
producto_df.to_sql(name='Producto', con = conexion, if_exists= "append", index=True) #index le indicamos que esta indexado

68198